### THIS FILE IS DEPLOYED BY ANSIBLE


driftfile /var/lib/ntp/ntp.drift
statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable
{% for server in ntp_servers %}
server {{ server }}
restrict {{ server }} nomodify nopeer
{% endfor %}
restrict default ignore
restrict -6 default ignore
restrict 127.0.0.1
restrict ::1
