[www-data]
prefix = /var/tmp

user = www-data
group = www-data

slowlog = /var/log/php-fpm/slowlog-site.log
listen = /var/run/php5-fpm-www-data.sock
listen.backlog = 1024

pm = dynamic
pm.start_servers = 4
pm.min_spare_servers = 2
pm.max_spare_servers = 6
pm.max_children = 8
pm.process_idle_timeout = 30s;
pm.max_requests = 800
pm.status_path = /status
listen.backlog = -1
listen.owner = www-data
listen.group = www-data
listen.mode = 0666
request_terminate_timeout = 3600s
catch_workers_output=no
chdir = /
rlimit_core = unlimited

security.limit_extensions = .php .php3 .php4 .php5

env[TMP] = /tmp
env[TMPDIR] = /tmp
env[TEMP] = /tmp
env[HOSTNAME] = $HOSTNAME

php_admin_value[memory_limit] = 1G

