EMAIL_ADDRESS="{{ admin_email }}"
MD5_SOURCE_HASH="yes"
MD5_BACKUP_HASH="yes"
MD5_UPLOAD_HASH="yes"
MD5_TARGET_HASH="yes"
KICK_VZCTL_PROCESS="yes"
SERVER_VZCONF_DIR="/etc/vz/conf"
SERVER_TMP_DIR="/tmp"
SERVER_TMPFS_SIZE="auto"
#compatibilite ovzdb < 0.9.2
BACKUP_SSH_PATH="root@{{ backup_server }}:{{ backup_dir }}"
#compatibilite ovzdb > 0.9.3
MASTER_SSH_PATH="root@{{ backup_server }}:{{ backup_dir }}"
#changement du cypher SSH vers chacha pour plus de secu
MASTER_SSH_OPTIONS="ssh -p 22 -c chacha20-poly1305@openssh.com -o Compression=no -o ConnectTimeout=60 -o ControlMaster=auto -o ControlPath=/root/openvz-diff-backups_%r@%h:%p -o ControlPersist=3600 -o ForwardX11=no -o PasswordAuthentication=no -o PreferredAuthentications=publickey -o StrictHostKeyChecking=ask" 
BACKUP_SKIP_STOPPED_CONTAINERS="all"
UPLOAD_SKIP_HOSTS=other
#compatibilite ovzdb < 0.9.2
UPLOAD_SSH_PATH="root@{{ upload_server }}:{{ upload_dir }}"
#compatibilite ovzdb > 0.9.3
REMOTE_SSH_PATH="root@{{ upload_server }}:{{ upload_dir }}"
#Changement du cyper ssh pour plus de secu
REMOTE_SSH_OPTIONS="ssh -p 22 -c chacha20-poly1305@openssh.com -o Compression=no -o ConnectTimeout=60 -o ControlMaster=auto -o ControlPath=/root/openvz-diff-backups_%r@%h:%p -o ControlPersist=3600 -o ForwardX11=no -o PasswordAuthentication=no -o PreferredAuthentications=publickey -o StrictHostKeyChecking=ask"
#possibilite de restaurer des backups de n'importe quel host
RESTORE_SKIP_HOSTS=""
#decommenter pour supprimer les backup de n'importe quel host
#DELETE_SKIP_HOSTS=""
